# Marco muestral

Notebook para determinar las probabilidades por ageb dentro del marco censal 2020

In [1]:
import os

import numpy as np
import pandas as pd

Para el marco muestral vamos a usar los archivos por ageb enviados el 21 de Agosto

In [2]:
archivos = {'agebs_urbanas' : './datos/01-ageb-censales_urbanas_en_localidades_quinquenios_contienelocalidades.csv', 
            'rel_agebs': './datos/01-relacion_localidades_ageb-urbanas.xlsx',
            'rel_locs_rural':'./datos/02-relacion_agebrural-localidades.xlsx',
            'locs_rural': './datos/02-upm_no_censales_ageb_rural_quinquenios_contieneagebsconsumadelocalidades.csv'}

muestraf = './datos/muestraXentidades.csv'
marco2020 = './datos/marco_ageb_pob_viv_2020.zip'

In [3]:
agebs = pd.read_csv(archivos['agebs_urbanas'])

In [4]:
agebs

,fid,cve_edo,nom_edo,cve_mun,nom_mun,cve_loc,nom_loc,cvegeomun,cvegeoloc,pobtot,...,p_75a79_f,p_75a79_m,p_80a84,p_80a84_f,p_80a84_m,p_85ymas,p_85ymas_f,p_85ymas_m,vivpar_hab,n_ageb
0,1,1,Aguascalientes,1,Aguascalientes,1,Aguascalientes,1001,10010001,863893,...,5843.0,4779.0,6383.0,3819.0,2564.0,5346.0,3373.0,1973.0,237622.0,308
1,39,1,Aguascalientes,1,Aguascalientes,237,Jaltomate,1001,10010237,2805,...,17.0,17.0,18.0,9.0,9.0,19.0,8.0,11.0,655.0,2
2,40,1,Aguascalientes,1,Aguascalientes,239,General José María Morelos y Pavón (Cañada Honda),1001,10010239,3822,...,18.0,17.0,23.0,10.0,13.0,24.0,16.0,8.0,912.0,2
3,51,1,Aguascalientes,1,Aguascalientes,293,Norias de Ojocaliente,1001,10010293,4476,...,6.0,13.0,19.0,7.0,12.0,13.0,3.0,10.0,970.0,2
4,61,1,Aguascalientes,1,Aguascalientes,357,Norias del Paso Hondo,1001,10010357,3362,...,9.0,12.0,9.0,3.0,6.0,6.0,2.0,4.0,738.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5058,189231,32,Zacatecas,55,Villanueva,42,Malpaso,32055,320550042,3910,...,34.0,37.0,45.0,20.0,25.0,41.0,19.0,22.0,978.0,9
5059,189321,32,Zacatecas,56,Zacatecas,1,Zacatecas,32056,320560001,138444,...,1074.0,792.0,1191.0,724.0,467.0,974.0,601.0,373.0,38680.0,178
5060,189326,32,Zacatecas,56,Zacatecas,28,Cieneguillas,32056,320560028,2753,...,10.0,11.0,8.0,7.0,1.0,13.0,6.0,7.0,473.0,1
5061,189392,32,Zacatecas,57,Trancoso,1,Trancoso,32057,320570001,17021,...,90.0,85.0,123.0,68.0,55.0,127.0,58.0,69.0,3692.0,63
5062,189414,32,Zacatecas,58,Santa María de la Paz,1,Santa María de la Paz,32058,320580001,1995,...,28.0,24.0,37.0,15.0,22.0,40.0,20.0,20.0,611.0,8

In [5]:
estados = agebs[['cve_edo','nom_edo']].drop_duplicates()
edos_idx = dict(zip(estados['cve_edo'], estados['nom_edo']))
idx_edos = dict(zip(estados['nom_edo'], estados['cve_edo']))
edos_idx

{1: 'Aguascalientes',
 2: 'Baja California',
 3: 'Baja California Sur',
 4: 'Campeche',
 5: 'Coahuila de Zaragoza',
 6: 'Colima',
 7: 'Chiapas',
 8: 'Chihuahua',
 9: 'Ciudad de México',
 10: 'Durango',
 11: 'Guanajuato',
 12: 'Guerrero',
 13: 'Hidalgo',
 14: 'Jalisco',
 15: 'México',
 16: 'Michoacán de Ocampo',
 17: 'Morelos',
 18: 'Nayarit',
 19: 'Nuevo León',
 20: 'Oaxaca',
 21: 'Puebla',
 22: 'Querétaro',
 23: 'Quintana Roo',
 24: 'San Luis Potosí',
 25: 'Sinaloa',
 26: 'Sonora',
 27: 'Tabasco',
 28: 'Tamaulipas',
 29: 'Tlaxcala',
 30: 'Veracruz de Ignacio de la Llave',
 31: 'Yucatán',
 32: 'Zacatecas'}

El marco censal 2020 es el siguiente

In [6]:
marco = pd.read_csv(marco2020)

In [7]:
marco.pobtot.sum()

126014024

In [8]:
df = marco[marco.vivpar_hab>20]
df['ent_nombre'] = df.ent.map(edos_idx)
df

C:\Users\usuario\AppData\Local\Temp\ipykernel_10140\1902301254.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ent_nombre'] = df.ent.map(edos_idx)

,fid,ent,mun,loc,ageb,AGEB,pobtot,pob12ymas,vivpar_hab,prom_ocup,estrato,ent_nombre
0,1,1,1,1,0017,0100100010017,2237,1579.0,633,3.45,3,Aguascalientes
1,2,1,1,1,006A,010010001006A,1411,1162.0,368,3.53,3,Aguascalientes
2,3,1,1,1,0106,0100100010106,2962,2238.0,991,2.88,3,Aguascalientes
3,4,1,1,1,0163,0100100010163,2698,1768.0,752,3.42,3,Aguascalientes
4,5,1,1,1,0182,0100100010182,2218,1874.0,610,3.35,3,Aguascalientes
...,...,...,...,...,...,...,...,...,...,...,...,...
81515,81516,30,142,17,0000,3014200170000,2414,1865.0,621,3.76,1,Veracruz de Ignacio de la Llave
81516,81517,30,158,16,0000,3015800160000,2140,1735.0,683,3.13,1,Veracruz de Ignacio de la Llave
81517,81518,30,160,101,0000,3016001010000,2238,1812.0,650,3.34,1,Veracruz de Ignacio de la Llave
81518,81519,30,207,83,0000,3020700830000,2131,1732.0,673,3.09,1,Veracruz de Ignacio de la Llave
81519,81520,30,211,35,0000,3021100350000,2371,1995.0,736,3.22,1,Veracruz de Ignacio de la Llave

### Asignación de probabilidades para ageb

Para obtener la probabilidad asociada a cada ageb se tienen que seguir los siguientes pasos

```Python
# Obtenemos el tamaño de la muestra (viviendas)
tam = A.muestra[['Estado','Tamaño de muestra(n)']]

# En total tenemos la cantidad total de encuestas por estado
total = tam.copy()
total['Tamaño de muestra(n)'] *= 2

# cantidad de viviendas por estrato
viv_estrato =  dfm.groupby(['ent_nombre','estrato']).vivpar_hab.sum().unstack().fillna(0).astype(int)
viv_estrato_prop = escala(viv_estrato).fillna(0)
viv_estrato_prop

# En cuota_estrato tenemos la cantidad de encuestas para cada estrato para cada estado
encuestas_por_estado = tam['Tamaño de muestra(n)'] 
cuota_estrato = ((viv_estrato_prop.reset_index()[[1,2,3]]
                  .mul(encuestas_por_estado, axis=0)).fillna(0).apply(round).astype(int)
                 .merge(tam[['Estado']], left_index=True, right_index=True )).set_index('Estado')

# Considerando el promedio de viviendas por estrato con los valores
# prom_viv_r = 9
# prom_viv_u = 12

ks[1] = (cuota_estrato[1] / prom_viv_r).apply(round)
#ks[2] = (cuota_estrato[2] / prom_viv_r).apply(round)
ks[2] = (cuota_estrato[2] / prom_viv_u).apply(round)
ks[3] = (cuota_estrato[3] / prom_viv_u).apply(round)
ks.loc['Ciudad de México',1] = 1


agebs_estrato = (dfm.groupby(['ent_nombre','estrato']).size().unstack().fillna(0).astype(int))
total_agebs = agebs_estrato.merge(ks, left_index=True, right_index=True)

# Totalidad de agebs a visitar
total_agebs['1_z'] = total_agebs['1_x'] // total_agebs['1_y']
total_agebs['2_z'] = total_agebs['2_x'] // total_agebs['2_y']
total_agebs['3_z'] = total_agebs['3_x'] // total_agebs['3_y']

# calculamos la totalidad de viviendas por entidad y estrato
pobs_viv = dfm.groupby(['ent_nombre','estrato']).vivpar_hab.sum().unstack().fillna(0).astype(int)
dfm['viviendas_e_h'] = dfm.apply(asigna_fila, axis=1, args=('estrato',pobs_viv))

def asigna_fila(row, colname, tabla):
    i = row['ent_nombre']
    j = row[colname]
    valor = tabla.loc[i,j]    
    return valor

# Asignamos la probabilidad a cada ageb asociada a las viviendas
probas = (dfm['k'] * dfm['vivpar_hab']) / dfm['viviendas_e_h']
dfm['P'] = probas

```

Aplicándolo de nuevo a nuestro conjunto de datos.
Necesitamos el estrato

In [9]:
# leemos los tamaños de la muestra
muestra = pd.read_csv(muestraf)
muestra['Encuestas'] = muestra['Tamaño de muestra(n)']*2

muestra.loc[7,  "Estado"] = "Coahuila de Zaragoza"
muestra.loc[10, "Estado"] = "México"
muestra.loc[15, "Estado"] = "Michoacán de Ocampo"
muestra.loc[29, "Estado"] = "Veracruz de Ignacio de la Llave"

In [11]:
# ponemos los nombres de acuerdo al dataframe
muestra['ent'] = muestra['Estado'].map(idx_edos)#.astype(int)

muestra.sort_values(by='ent')

,Estado,Drogas ilegales,alcohol_av,tabaco_av,n_di,n_alcohol,n_tabaco,Tamaño de muestra(n),Encuestas,ent
0,Aguascalientes,11.1,75.984739,23.802891,539,17,179,645,1290,1
1,Baja California,13.5,67.701021,13.365215,431,26,363,748,1496,2
2,Baja California Sur,10.9,72.986203,18.764986,550,20,242,720,1440,3
3,Campeche,11.5,69.836918,21.828594,518,24,200,655,1310,4
7,Coahuila de Zaragoza,10.8,70.196027,16.971774,556,23,274,760,1520,5
8,Colima,12.0,76.639495,16.463379,493,17,284,712,1424,6
4,Chiapas,5.8,67.103936,13.804256,1093,27,350,1288,2576,7
5,Chihuahua,11.7,78.473392,23.084595,508,15,186,624,1248,8
6,Ciudad de México,10.3,57.922512,19.009142,586,40,239,767,1534,9
9,Durango,9.5,70.598747,17.935952,641,23,256,813,1626,10
11,Guanajuato,9.6,68.599724,18.775400,633,25,242,795,1590,11
12,Guerrero,7.5,73.328241,19.916849,830,20,225,936,1872,12
13,Hidalgo,7.6,80.027690,21.786893,818,14,201,897,1794,13
14,Jalisco,15.3,74.534970,17.151783,372,19,270,599,1198,14
10,México,9.7,70.139426,19.348823,626,23,233,778,1556,15
15,Michoacán de Ocampo,9.0,73.396833,18.198882,680,20,252,839,1678,16
16,Morelos,7.5,67.423270,16.445561,830,27,285,1003,2006,17
17,Nayarit,12.3,77.555473,21.834229,480,16,200,616,1232,18
18,Nuevo León,10.6,69.104239,13.981118,567,25,345,843,1686,19
19,Oaxaca,6.6,64.545414,17.132504,952,30,271,1094,2188,20
20,Puebla,7.5,71.864996,19.882101,830,21,226,938,1876,21
21,Querétaro,12.1,72.890525,21.266369,489,20,207,634,1268,22
22,Quintana Roo,14.9,72.436902,15.285242,384,21,310,651,1302,23
23,San Luis Potosí,7.5,66.014854,21.173898,830,28,208,927,1854,24
24,Sinaloa,9.4,66.830642,17.470700,648,27,265,832,1664,25
25,Sonora,10.3,66.729881,13.180436,586,27,369,884,1768,26
26,Tabasco,10.4,66.255581,19.119851,579,28,237,748,1496,27
27,Tamaulipas,10.0,62.915478,17.756917,605,33,259,796,1592,28
28,Tlaxcala,6.8,73.514571,19.155530,922,20,236,1024,2048,29
29,Veracruz de Ignacio de la Llave,8.5,70.153318,19.822293,724,23,226,852,1704,30
30,Yucatán,10.8,68.480025,16.192973,556,25,290,778,1556,31
31,Zacatecas,9.5,69.734621,17.979342,641,24,255,813,1626,32

In [13]:
# cantidad de encuestas por estado
encuestas_por_estado = muestra[['Estado','Tamaño de muestra(n)']].set_index('Estado')

encuestas_por_estado

                                 Tamaño de muestra(n)
Estado
Aguascalientes                                    645
Baja California                                   748
Baja California Sur                               720
Campeche                                          655
Chiapas                                          1288
Chihuahua                                         624
Ciudad de México                                  767
Coahuila de Zaragoza                              760
Colima                                            712
Durango                                           813
México                                            778
Guanajuato                                        795
Guerrero                                          936
Hidalgo                                           897
Jalisco                                           599
Michoacán de Ocampo                               839
Morelos                                          1003
Nayarit                                           616
Nuevo León                                        843
Oaxaca                                           1094
Puebla                                            938
Querétaro                                         634
Quintana Roo                                      651
San Luis Potosí                                   927
Sinaloa                                           832
Sonora                                            884
Tabasco                                           748
Tamaulipas                                        796
Tlaxcala                                         1024
Veracruz de Ignacio de la Llave                   852
Yucatán                                           778
Zacatecas                                         813

In [14]:
df[df.ent==9].groupby('estrato').vivpar_hab.sum()

estrato
1      16112
2      75389
3    2512443
Name: vivpar_hab, dtype: int64

In [16]:
# proporción de viviendas por estado
def escala(dfo):
    df = dfo.copy()
    return df.divide(df.sum(axis=1),axis=0)

def asigna_fila(row, colname, tabla):
    i = row['ent_nombre']
    j = row[colname]
    valor = tabla.loc[i,j]    
    return valor

# obtenemos 
viv_estrato =  df.groupby(['ent_nombre','estrato']).vivpar_hab.sum().unstack().fillna(0).astype(int)
viv_estrato_prop = escala(viv_estrato).fillna(0)
viv_estrato_prop

estrato                                 1         2         3
ent_nombre
Aguascalientes                   0.142803  0.222552  0.634645
Baja California                  0.060348  0.114981  0.824671
Baja California Sur              0.081799  0.174294  0.743906
Campeche                         0.237888  0.276841  0.485271
Chiapas                          0.464242  0.313263  0.222495
Chihuahua                        0.115491  0.126119  0.758390
Ciudad de México                 0.006188  0.028952  0.964861
Coahuila de Zaragoza             0.077541  0.204117  0.718342
Colima                           0.094454  0.262882  0.642664
Durango                          0.263612  0.222211  0.514178
Guanajuato                       0.273519  0.299245  0.427235
Guerrero                         0.394513  0.313087  0.292399
Hidalgo                          0.422757  0.443958  0.133284
Jalisco                          0.118942  0.367029  0.514030
Michoacán de Ocampo              0.286397  0.429988  0.283615
Morelos                          0.179170  0.419448  0.401382
México                           0.120213  0.333843  0.545944
Nayarit                          0.263735  0.428267  0.307998
Nuevo León                       0.042185  0.246320  0.711495
Oaxaca                           0.500500  0.409587  0.089913
Puebla                           0.261762  0.425316  0.312922
Querétaro                        0.198162  0.322699  0.479139
Quintana Roo                     0.091966  0.164985  0.743049
San Luis Potosí                  0.320986  0.212778  0.466236
Sinaloa                          0.229151  0.237550  0.533299
Sonora                           0.110384  0.241590  0.648026
Tabasco                          0.405740  0.452346  0.141913
Tamaulipas                       0.097935  0.138147  0.763918
Tlaxcala                         0.168288  0.831712  0.000000
Veracruz de Ignacio de la Llave  0.367189  0.402122  0.230689
Yucatán                          0.133341  0.382114  0.484545
Zacatecas                        0.365611  0.344528  0.289861

In [17]:
# cuota de viviendas a visitar por
# estrato
cuota_estrato = (viv_estrato_prop[[1,2,3]].mul(encuestas_por_estado['Tamaño de muestra(n)'],  axis=0)
                 .apply(round).astype(int))

In [18]:
cuota_estrato.sum().sum()

26016

In [19]:
prom_viv_r = 9
prom_viv_u = 12

# en este dataframe vamos a subir la cuota de agebs por 
# estrato
ks = pd.DataFrame({1:[], 2:[], 3:[]})

ks[1] = (cuota_estrato[1] / prom_viv_r).apply(round)
ks[2] = (cuota_estrato[2] / prom_viv_u).apply(round)
ks[3] = (cuota_estrato[3] / prom_viv_u).apply(round)
ks.loc['Tlaxcala',3] = 1    # ponemos una ageb en Tlax

In [20]:
ks.sum().sum()

2333

In [21]:
# cuantos agebs hay por cada entidad y estrato
# en el marco
agebs_estrato = (df.groupby(['ent_nombre','estrato']).size().unstack().fillna(0).astype(int))
agebs_estrato;

In [22]:
total_agebs = agebs_estrato.merge(ks, left_index=True, right_index=True)
total_agebs;

## Factores de expansión (1a. etapa)

Se van a calcular los factores en tres etapas para el caso urbano y para el caso rural.

La primera será un cálculo considerando los valores teóricos de número de manzanas por ageb y de viviendas por manzana.
1. Sobre las agebs

    $$
    f_a = \frac{N_e}{n_e}
    $$
    
    donde $N_e$ es la cantidad de municipios en el estrato $e$ y $n_e$ es la cantiad de agebs seleccionadas 
    
2. Sobre las agebs se seleccionaron manzanas, entonces para cada manzana seleccionada se debe construir un factor de la siguiente forma

    $$
    f_m = \frac{N_{m,a}}{n_{m,a}}
    $$
    
    donde $N_{m,a}$ es el número de manzas en la ageb $a$ y $n_{m,a}$ es el número de manzanas seleccionadas en la ageb $a$
    
3. Finalmente se genera un factor a las viviendas seleccionadas

    $$
    f_v = \frac{N_{v,m}}{n_{v,m}}
    $$
    
    donde $N_{v,m}$ es el número de viviendas por manzana mientras que $n_{v,m}$ es el número de viviendas seleccionadas en la manzana $m$.
    
El factor de expansión se calcula, entonces, como el producto de cada uno de estos factores intermedios

$$
    f_{exp} = f_a * f_m * f_v
$$

### Primera etapa: factores agebs

In [23]:
# Totalidad de agebs a visitar
total_agebs['f_1'] = total_agebs['1_x'] / total_agebs['1_y']
total_agebs['f_2'] = total_agebs['2_x'] / total_agebs['2_y']
total_agebs['f_3'] = total_agebs['3_x'] / total_agebs['3_y']

total_agebs

,1_x,2_x,3_x,1_y,2_y,3_y,f_1,f_2,f_3
ent_nombre,,,,,,,,,
Aguascalientes,65,164,303,10,12,34,6.500000,13.666667,8.911765
Baja California,111,330,1309,5,7,51,22.200000,47.142857,25.666667
Baja California Sur,86,195,438,7,10,45,12.285714,19.500000,9.733333
Campeche,167,196,170,17,15,26,9.823529,13.066667,6.538462
Chiapas,764,1032,480,66,34,24,11.575758,30.352941,20.000000
Chihuahua,738,573,1398,8,7,39,92.250000,81.857143,35.846154
Ciudad de México,20,91,2290,1,2,62,20.000000,45.500000,36.935484
Coahuila de Zaragoza,317,580,1026,7,13,46,45.285714,44.615385,22.304348
Colima,46,152,341,7,16,38,6.571429,9.500000,8.973684
Durango,464,470,502,24,15,35,19.333333,31.333333,14.342857
Guanajuato,353,1180,985,24,20,28,14.708333,59.000000,35.178571
Guerrero,563,950,708,41,24,23,13.731707,39.583333,30.782609
Hidalgo,374,903,247,42,33,10,8.904762,27.363636,24.700000
Jalisco,801,2138,1494,8,18,26,100.125000,118.777778,57.461538
Michoacán de Ocampo,658,1514,625,27,30,20,24.370370,50.466667,31.250000
Morelos,83,569,330,20,35,34,4.150000,16.257143,9.705882
México,432,2072,2174,10,22,35,43.200000,94.181818,62.114286
Nayarit,134,442,185,18,22,16,7.444444,20.090909,11.562500
Nuevo León,386,843,1519,4,17,50,96.500000,49.588235,30.380000
Oaxaca,1758,1202,184,61,37,8,28.819672,32.486486,23.000000
Puebla,688,1484,587,27,33,24,25.481481,44.969697,24.458333
Querétaro,135,384,450,14,17,25,9.642857,22.588235,18.000000
Quintana Roo,146,231,624,7,9,40,20.857143,25.666667,15.600000
San Luis Potosí,511,484,522,33,16,36,15.484848,30.250000,14.500000
Sinaloa,373,611,882,21,16,37,17.761905,38.187500,23.837838
Sonora,423,774,1210,11,18,48,38.454545,43.000000,25.208333
Tabasco,262,473,98,34,28,9,7.705882,16.892857,10.888889
Tamaulipas,500,539,1397,9,9,51,55.555556,59.888889,27.392157
Tlaxcala,92,583,0,19,71,1,4.842105,8.211268,0.000000
Veracruz de Ignacio de la Llave,1015,2036,743,35,29,16,29.000000,70.206897,46.437500
Yucatán,246,626,533,12,25,31,20.500000,25.040000,17.193548
Zacatecas,597,635,357,33,23,20,18.090909,27.608696,17.850000

In [24]:
entprueba = df[(df.ent==1) & (df.estrato==1)]
entprueba.vivpar_hab.sum()

53460

In [25]:
pobs_viv = df.groupby(['ent_nombre','estrato']).vivpar_hab.sum().unstack().fillna(0).astype(int)

# viviendas por entidd y estrato
df['viviendas_e_h'] = df.apply(asigna_fila, axis=1, args=('estrato',pobs_viv))

# asignamos la k
df['k'] = df.apply(asigna_fila, axis=1, args=('estrato', ks))

probas = (df['k'] * df['vivpar_hab']) / df['viviendas_e_h']
df['P'] = probas

C:\Users\usuario\AppData\Local\Temp\ipykernel_10140\3354784485.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['viviendas_e_h'] = df.apply(asigna_fila, axis=1, args=('estrato',pobs_viv))
C:\Users\usuario\AppData\Local\Temp\ipykernel_10140\3354784485.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['k'] = df.apply(asigna_fila, axis=1, args=('estrato', ks))
C:\Users\usuario\AppData\Local\Temp\ipykernel_10140\3354784485.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['P'] = probas

In [27]:
factores_agebs = total_agebs[['f_1','f_2','f_3']]
probas_agebs = df.groupby(['estrato','ent_nombre']).P.sum().unstack().T.fillna(0)

In [28]:
factores_agebs['ent'] = factores_agebs.index.map(idx_edos)
factores_agebs['ent'] = factores_agebs['ent'].map(lambda x: str(x).zfill(2))
factores_agebs

C:\Users\usuario\AppData\Local\Temp\ipykernel_10140\2611847607.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  factores_agebs['ent'] = factores_agebs.index.map(idx_edos)
C:\Users\usuario\AppData\Local\Temp\ipykernel_10140\2611847607.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  factores_agebs['ent'] = factores_agebs['ent'].map(lambda x: str(x).zfill(2))

                                        f_1         f_2        f_3 ent
ent_nombre
Aguascalientes                     6.500000   13.666667   8.911765  01
Baja California                   22.200000   47.142857  25.666667  02
Baja California Sur               12.285714   19.500000   9.733333  03
Campeche                           9.823529   13.066667   6.538462  04
Chiapas                           11.575758   30.352941  20.000000  07
Chihuahua                         92.250000   81.857143  35.846154  08
Ciudad de México                  20.000000   45.500000  36.935484  09
Coahuila de Zaragoza              45.285714   44.615385  22.304348  05
Colima                             6.571429    9.500000   8.973684  06
Durango                           19.333333   31.333333  14.342857  10
Guanajuato                        14.708333   59.000000  35.178571  11
Guerrero                          13.731707   39.583333  30.782609  12
Hidalgo                            8.904762   27.363636  24.700000  13
Jalisco                          100.125000  118.777778  57.461538  14
Michoacán de Ocampo               24.370370   50.466667  31.250000  16
Morelos                            4.150000   16.257143   9.705882  17
México                            43.200000   94.181818  62.114286  15
Nayarit                            7.444444   20.090909  11.562500  18
Nuevo León                        96.500000   49.588235  30.380000  19
Oaxaca                            28.819672   32.486486  23.000000  20
Puebla                            25.481481   44.969697  24.458333  21
Querétaro                          9.642857   22.588235  18.000000  22
Quintana Roo                      20.857143   25.666667  15.600000  23
San Luis Potosí                   15.484848   30.250000  14.500000  24
Sinaloa                           17.761905   38.187500  23.837838  25
Sonora                            38.454545   43.000000  25.208333  26
Tabasco                            7.705882   16.892857  10.888889  27
Tamaulipas                        55.555556   59.888889  27.392157  28
Tlaxcala                           4.842105    8.211268   0.000000  29
Veracruz de Ignacio de la Llave   29.000000   70.206897  46.437500  30
Yucatán                           20.500000   25.040000  17.193548  31
Zacatecas                         18.090909   27.608696  17.850000  32

### Segunda etapa: factores de manzanas

Podemos hacer una lista de nuestro marco separado por estratos y por cada lista podemos agregar una columna correspondiente a su factor por ageb

In [29]:
# cargamos marco con manzanas y 
# archivo de encuesta
#
fmarco_mzas = './datos/07_marco_muestral_manzana_loc.zip'
fcorte = './datos/cortes/w18/enasama_2024W18_0429_0505.pkl'
marco_mzas = pd.read_csv(fmarco_mzas)
w18 = pd.read_pickle(fcorte)

C:\Users\usuario\AppData\Local\Temp\ipykernel_10140\2023123177.py:6: DtypeWarning: Columns (2,10) have mixed types. Specify dtype option on import or set low_memory=False.
  marco_mzas = pd.read_csv(fmarco_mzas)

Obtenemos los folios de la encuesta para de ahí obtener la ageb

In [33]:
criterio = {1: 'f_1', 2:'f_2', 3:'f_3'}

In [30]:
factores_estrato = pd.concat((df.loc[df.estrato==1, ['AGEB','estrato','ent']],
                             df.loc[df.estrato==2, ['AGEB','estrato','ent']],
                             df.loc[df.estrato==3, ['AGEB','estrato','ent']]))
factores_estrato['ent'] = factores_estrato['ent'].astype(str).str.zfill(2)

In [46]:
factores_estrato['factor_col'] = factores_estrato['estrato'].map(criterio)
merged_factores = pd.merge(factores_estrato, factores_agebs, on='ent')
merged_factores['factor_a'] = merged_factores.apply(lambda row: row[row['factor_col']], axis=1)

factores_estrato = merged_factores[['AGEB','estrato','ent','factor_a']]

C:\Users\usuario\AppData\Local\Temp\ipykernel_10140\739655036.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  factores_estrato['factor_col'] = factores_estrato['estrato'].map(criterio)

In [47]:
factores_estrato

                AGEB  estrato ent   factor_a
0      0500100010087        1  05  45.285714
1      0500500010207        1  05  45.285714
2      0500500010211        1  05  45.285714
3      0500500010226        1  05  45.285714
4      0500500010368        1  05  45.285714
...              ...      ...  ..        ...
61870  2700400012359        3  27  10.888889
61871  2700400012560        3  27  10.888889
61872  2700400012575        3  27  10.888889
61873  2700400012611        3  27  10.888889
61874  2700400012626        3  27  10.888889

[61875 rows x 4 columns]

In [48]:
w18_sitios = pd.DataFrame(w18.folio.astype(str), columns=['folio'])
w18_sitios['ageb'] = w18_sitios.folio.apply(lambda x: x[:13])
w18_sitios['mza'] = w18_sitios.folio.apply(lambda x: x[:16])

La cantidad de encuestas por ageb seleccionadas fueron de 

$$
m_{ageb} = 5
$$

Entonces con esto y el número de manzanas por ageb podemos obtener al factor correspondiente a manzanas

In [49]:
mzas = pd.DataFrame(marco_mzas.groupby('cvegeoageb').cvegeomz.size())
mzas.columns = ['n']
num_mzas = 5
mzas['fm'] = mzas['n'] / num_mzas
mzas['ent'] = mzas.index.str[:2]

In [50]:
mzas

                n    fm ent
cvegeoageb
0100100001068  28   5.6  01
0100100001123  25   5.0  01
0100100001138  52  10.4  01
0100100001176   3   0.6  01
0100100001180   4   0.8  01
...            ..   ...  ..
3205800010087   1   0.2  32
3205800010091   1   0.2  32
3205800010104   2   0.4  32
3205800010119   1   0.2  32
3205800010123  21   4.2  32

[78923 rows x 3 columns]

In [358]:
mzas_muestra = w18_sitios['ageb'].unique()
mzas_muestra, len(mzas_muestra)

(array(['1610200010800', '1610200011762', '0100100001937', ...,
        '0601000011017', '0706201360024', '2404200010129'], dtype=object),
 2352)

Los factores para las manzanas en la enasama son

In [313]:
# manzanas en la muestra dentro
# del marco
#
mzas[mzas.index.isin(mzas_muestra)]

                n   fm ent
cvegeoageb
0100100001763  39  7.8  01
0100100001886  16  3.2  01
0100100001937  44  8.8  01
0100100010303  25  5.0  01
0100100010341  24  4.8  01
...            ..  ...  ..
3205600010595  47  9.4  32
3205600010970   6  1.2  32
3205600010985   6  1.2  32
3205600011038  11  2.2  32
3205600011150  29  5.8  32

[2118 rows x 3 columns]

In [355]:
# aqui queremos extender el dataframe de mzas_factor
# para incorporar las manzanas 
mzas_factor = pd.DataFrame(mzas.merge(mzas_selec, how='right', left_index=True, right_index=True), )
# mzas_factor. columns = ['marco','enasama', 'ent']
mzas_factor

                  n   fm ent               mza
ageb
0100100001763  39.0  7.8  01  0100100001763183
0100100001886  16.0  3.2  01  0100100001886429
0100100001937  44.0  8.8  01  0100100001937190
0100100010303  25.0  5.0  01  0100100010303025
0100100010341  24.0  4.8  01  0100100010341013
...             ...  ...  ..               ...
3205600010595  47.0  9.4  32  3205600010595033
3205600010970   6.0  1.2  32  3205600010970006
3205600010985   6.0  1.2  32  3205600010985006
3205600011038  11.0  2.2  32  3205600011038008
3205600011150  29.0  5.8  32  3205600011150003

[2352 rows x 4 columns]

### Tercer etapa: factores de viviendas

La última etapa de selección es sobre las viviendas donde se seleccionaron 

$$
\begin{align}
{\text{prom_viv_r}} &= 9 \\
{\text{prom_viv_u}} &= 12
\end{align}
$$

Entonces para las manzanas seleccionadas tenemos que

In [317]:
prom_viv_r, prom_viv_u = 9, 12

In [318]:
mzas

                n    fm ent
cvegeoageb
0100100001068  28   5.6  01
0100100001123  25   5.0  01
0100100001138  52  10.4  01
0100100001176   3   0.6  01
0100100001180   4   0.8  01
...            ..   ...  ..
3205800010087   1   0.2  32
3205800010091   1   0.2  32
3205800010104   2   0.4  32
3205800010119   1   0.2  32
3205800010123  21   4.2  32

[78923 rows x 3 columns]

In [345]:
# vamos a seleccionar a las manzanas urbanas
mzas_urbanas = marco_mzas.loc[marco_mzas.tipo_selec=='mza',['cvegeoageb','cvegeomz','vivpar_hab','ocupvivpar']].set_index('cvegeomz')
mzas_urbanas

                     cvegeoageb  vivpar_hab  ocupvivpar
cvegeomz
0501001760103006  0501001760103         9.0        28.0
0501001760103005  0501001760103         6.0        25.0
0501001760103012  0501001760103         5.0        20.0
0501001760103009  0501001760103        11.0        37.0
0501001760103008  0501001760103         9.0        33.0
...                         ...         ...         ...
2201400013399002  2201400013399        22.0        72.0
2201400013187011  2201400013187        34.0       115.0
2201400013666007  2201400013666        17.0        77.0
2201400013632012  2201400013632        14.0        56.0
2201400013596001  2201400013596        26.0        78.0

[1593239 rows x 3 columns]

Usando estas manzanas y la cantidad de `vivpar_hab` en cada una, es que podemos calcular los factores de vivienda correspondientes a cada una

In [346]:
mzas_urbanas['fv'] = mzas_urbanas['vivpar_hab'] / prom_viv_u
mzas_urbanas

                     cvegeoageb  vivpar_hab  ocupvivpar        fv
cvegeomz
0501001760103006  0501001760103         9.0        28.0  0.750000
0501001760103005  0501001760103         6.0        25.0  0.500000
0501001760103012  0501001760103         5.0        20.0  0.416667
0501001760103009  0501001760103        11.0        37.0  0.916667
0501001760103008  0501001760103         9.0        33.0  0.750000
...                         ...         ...         ...       ...
2201400013399002  2201400013399        22.0        72.0  1.833333
2201400013187011  2201400013187        34.0       115.0  2.833333
2201400013666007  2201400013666        17.0        77.0  1.416667
2201400013632012  2201400013632        14.0        56.0  1.166667
2201400013596001  2201400013596        26.0        78.0  2.166667

[1593239 rows x 4 columns]

### Reconstrucción de factores

Con estos factores calculados ahora podemos hacer la reconstrucción

Tomamos una ageb de nuestra muestra

1. Tomamos las manzanas en nuestra muestra para ver qué factor de viviendas tienen

In [322]:
mzas_muestra, len(mzas_muestra), len(mzas_muestra[0])

(array(['1610200010800', '1610200011762', '0100100001937', ...,
        '0601000011017', '0706201360024', '2404200010129'], dtype=object),
 2352,
 13)

In [323]:
len(mzas_urbanas.iloc[0].name)

16

In [339]:
# mzas_muestra son las manzanas que tenemos en la
# muestra y hay que ubicarlas en el cálculo de
# 
mzas_ageb =  mzas[mzas.index.isin(mzas_muestra)]
mzas_ageb

                n   fm ent
cvegeoageb
0100100001763  39  7.8  01
0100100001886  16  3.2  01
0100100001937  44  8.8  01
0100100010303  25  5.0  01
0100100010341  24  4.8  01
...            ..  ...  ..
3205600010595  47  9.4  32
3205600010970   6  1.2  32
3205600010985   6  1.2  32
3205600011038  11  2.2  32
3205600011150  29  5.8  32

[2118 rows x 3 columns]

Vamos a agregar el factor de expansión por estado

C:\Users\usuario\AppData\Local\Temp\ipykernel_4604\2611847607.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  factores_agebs['ent'] = factores_agebs.index.map(idx_edos)
C:\Users\usuario\AppData\Local\Temp\ipykernel_4604\2611847607.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  factores_agebs['ent'] = factores_agebs['ent'].map(lambda x: str(x).zfill(2))

                                        f_1         f_2        f_3 ent
ent_nombre
Aguascalientes                     6.500000   13.666667   8.911765  01
Baja California                   22.200000   47.142857  25.666667  02
Baja California Sur               12.285714   19.500000   9.733333  03
Campeche                           9.823529   13.066667   6.538462  04
Chiapas                           11.575758   30.352941  20.000000  07
Chihuahua                         92.250000   81.857143  35.846154  08
Ciudad de México                  20.000000   45.500000  36.935484  09
Coahuila de Zaragoza              45.285714   44.615385  22.304348  05
Colima                             6.571429    9.500000   8.973684  06
Durango                           19.333333   31.333333  14.342857  10
Guanajuato                        14.708333   59.000000  35.178571  11
Guerrero                          13.731707   39.583333  30.782609  12
Hidalgo                            8.904762   27.363636  24.700000  13
Jalisco                          100.125000  118.777778  57.461538  14
Michoacán de Ocampo               24.370370   50.466667  31.250000  16
Morelos                            4.150000   16.257143   9.705882  17
México                            43.200000   94.181818  62.114286  15
Nayarit                            7.444444   20.090909  11.562500  18
Nuevo León                        96.500000   49.588235  30.380000  19
Oaxaca                            28.819672   32.486486  23.000000  20
Puebla                            25.481481   44.969697  24.458333  21
Querétaro                          9.642857   22.588235  18.000000  22
Quintana Roo                      20.857143   25.666667  15.600000  23
San Luis Potosí                   15.484848   30.250000  14.500000  24
Sinaloa                           17.761905   38.187500  23.837838  25
Sonora                            38.454545   43.000000  25.208333  26
Tabasco                            7.705882   16.892857  10.888889  27
Tamaulipas                        55.555556   59.888889  27.392157  28
Tlaxcala                           4.842105    8.211268   0.000000  29
Veracruz de Ignacio de la Llave   29.000000   70.206897  46.437500  30
Yucatán                           20.500000   25.040000  17.193548  31
Zacatecas                         18.090909   27.608696  17.850000  32

In [341]:
# hasta este momento se tienen los factores a nivel manzana 
# hay que separar las mzas_agebs en su estrato para juntarla 
# con las f_2 o f_3 como corresponda
#
mzas_ageb = mzas_ageb.reset_index().merge(factores_agebs[['f_2','f_3','ent']], how='right', on='ent')
mzas_ageb

         cvegeoageb   n   fm ent        f_2        f_3
0     0100100001763  39  7.8  01  13.666667   8.911765
1     0100100001886  16  3.2  01  13.666667   8.911765
2     0100100001937  44  8.8  01  13.666667   8.911765
3     0100100010303  25  5.0  01  13.666667   8.911765
4     0100100010341  24  4.8  01  13.666667   8.911765
...             ...  ..  ...  ..        ...        ...
2113  3205600010595  47  9.4  32  27.608696  17.850000
2114  3205600010970   6  1.2  32  27.608696  17.850000
2115  3205600010985   6  1.2  32  27.608696  17.850000
2116  3205600011038  11  2.2  32  27.608696  17.850000
2117  3205600011150  29  5.8  32  27.608696  17.850000

[2118 rows x 6 columns]

In [350]:
factores_urbanos = mzas_urbanas.reset_index().merge(mzas_ageb, how='right', on='cvegeoageb').dropna()

In [361]:
factores_urbanos

,cvegeomz,cvegeoageb,vivpar_hab,ocupvivpar,fv,n,fm,ent,f_2,f_3
3,0100100010303025,0100100010303,6.0,21.0,0.500000,25,5.0,01,13.666667,8.911765
4,0100100010303026,0100100010303,21.0,78.0,1.750000,25,5.0,01,13.666667,8.911765
5,0100100010303027,0100100010303,14.0,38.0,1.166667,25,5.0,01,13.666667,8.911765
6,0100100010303028,0100100010303,0.0,0.0,0.000000,25,5.0,01,13.666667,8.911765
7,0100100010303018,0100100010303,42.0,138.0,3.500000,25,5.0,01,13.666667,8.911765
...,...,...,...,...,...,...,...,...,...,...
58700,3205600011150010,3205600011150,42.0,187.0,3.500000,29,5.8,32,27.608696,17.850000
58701,3205600011150009,3205600011150,12.0,58.0,1.000000,29,5.8,32,27.608696,17.850000
58702,3205600011150011,3205600011150,3.0,13.0,0.250000,29,5.8,32,27.608696,17.850000
58703,3205600011150031,3205600011150,0.0,0.0,0.000000,29,5.8,32,27.608696,17.850000
58704,3205600011150016,3205600011150,6.0,26.0,0.500000,29,5.8,32,27.608696,17.850000